scikit-learn==1.5.1
imbalanced-learn==0.12.3
fastapi==0.111.1 # host as web
uvicorn==0.30.1 # flask
joblib==1.4.2 # loading,, DL FW
matplotlib==3.9.1
seaborn==0.13.2
python-multipart==0.0.9 # raise error if not


## may use yaml